# deps
/node_modules

# fumadocs-mdx generated content
.source

# next.js build / static export
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# misc
.DS_Store
.env*.local
.vercel

npm-debug.log*
yarn-debug.log*
yarn-error.log*
